body{
margin:0;
background:#0d1117;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:700px;
background:#161b22;
padding:30px;
border-radius:15px;
}

.badge{
background:#21262d;
padding:15px;
margin:15px 0;
border-radius:10px;
}

button{
width:100%;
padding:15px;
background:#238636;
border:none;
border-radius:10px;
color:white;
cursor:pointer;
}