body{
margin:0;
background:#0d1117;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:800px;
background:#161b22;
padding:30px;
border-radius:15px;
}

.record{
background:#21262d;
padding:15px;
margin:15px 0;
border-radius:10px;
}

button{
width:100%;
padding:15px;
margin-top:20px;
background:#238636;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}