.navbar{
background:#161b22;
padding:15px 30px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:24px;
font-weight:bold;
color:#FFD700;
}

ul{
display:flex;
list-style:none;
gap:20px;
}

a{
color:white;
text-decoration:none;
font-size:17px;
}

a:hover{
color:#FFD700;
}